
<div class="container">
  <div class="row mb-5 p-2 ">
    <% @my_jobs.each do |job| %>
      <div class="col-4 ">
        <div class="card shadow mb-5 ">
          <div class="card-img-top">
            <% if job.company_image.attached? %>
              <%= image_tag job.company_image, class:"img-fluid  "%>
            <% else %>
              <%= image_tag("https://images.unsplash.com/photo-1574958269340-fa927503f3dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1948&q=80A", class:"img-fluid card-img-top ")%>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"> 
             <li class=" text-danger
             "><%= job.status %></li>
            </h5>
            <p class="card-text">
              <li class="mb-2"><span class="h5">Title - </span> <%= job.title %> </li>
              <li class="mb-2"><span class="h5">link_to_apply - </span><%= link_to job.link_to_apply,job.link_to_apply, :target => '_blank' %></li>
              <li class="mb-2"><span class="h5">job_post_id - </span><%= job.job_post_id %></li>
              <li class="mb-2"><span class="h5" >Job Category - </span><%= job.job_category.name %></li>
              <li class="mb-2"><span class="h5">Employment Type - </span><%= job.employment_type %></li>
              <li class="mb-2"><span class="h5">Qualification - </span><%= job.qualification %></li>
              <li class="mb-2"><span class="h5">Location - </span><%= job.location_type %></li>
              <li class="mb-2"><span class="h5">Salary - </span><%= job.salary %></li>
              <li class="mb-2"><span class="h5">Max. Positions - </span><%= job.max_positions %></li>
              <li class="mb-2"><span class="h5">Description - </span><%= job.description %></li>
            </p>
            <% if @my_jobs %>
              <%= link_to 'Edit', edit_users_user_path(job) , class:"btn btn-secondary" %>
              <%= link_to 'Delete', admin_job_path(job), data: {turbo_method: :delete, turbo_confirm:"Are you sure ?"}, class:"btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
 </div>
</div>
<%= paginate @jobs %>



